<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyWebLog</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="page-title">
                <div>
                    <img src="/images/pagina-web1.png" alt="website logo" width="40" class="website-logo">
                </div>
                <div>
                    <h1><a href="/" class="title">MyWebLog</a></h1>
                </div>
            </div>
            <div class="page-options">
                <h2><a href="/" class="home-options">Home</a> | <a href="/postablog" class="home-options">Post a Blog</a></h2>
            </div>
        </nav>
    </header>